/* LAPTOP */
@media (max-width:1200px) {

    /* SECTION1 */
    .section1 {
        flex-direction: column;
        padding: 32px;
        text-align: center;
        gap: 68px;
    }

    .headline {
        width: 100%;
    }

    .img1 {
        width: 100%;
        height: 450px;
    }

    /* SECTION2 */
    .section2 {
        flex-direction: column;
        padding: 32px 32px 64px 32px;
        gap: 64px;
    }

    .sec2text {
        flex-direction: row;
        gap: 129px;
    }

    .wall {
        height: 550px;
        border-radius: 20px;
    }

    /* SECTION3 */
    .section3 {
        padding: 39px 32px;
        gap: 61px;
    }

    /* FOOTER */
    footer {
        padding: 45px 32px
    }
    
    .footersection {
        justify-content: flex-start;
        gap: 153px;
    }

    .logocontainer {
        display: none;
    }

    .logocontainertest {
        display: flex;
        margin-bottom: 48px;
    }

    .subscribe {
        display: none;
    }

}

/* TABLET */
@media (max-width:850px) {

    /* SECTION1 */
    .img1 {
        width: 100%;
        height: 499px;
    }

    h1 {
        font-size: 40px;
    }

    /* SECTION2 */
    .section2 {
        flex-direction: column;
        padding: 24px;
        gap: 29px;
    }

    .sec2text {
        text-align: center;
        flex-direction: column;
        gap: 29px;
    }

    .wall {
        height: 550px;
    }

    /* SECTION3 */
    .section3 {
        flex-direction: column;
        gap: 20px;
    }

    .title {
        justify-content: center;
        
    }

    .featuretext {
        text-align: center;
    }

    /* FOOTER */
    footer {
        padding: 40px 22px
    }
    
    .footersection {
        gap: 73px;
    }

    .logocontainertest {
        margin-bottom: 20px;
    }

    

}

/* PHONE */
@media (max-width:600px) {

    /* HEADER */
    nav {
        display: none;
    }

    .navbutton {
        display: none;
    }

    .burgerbar {
        display: flex;
    }

    /* SECTION1 */
    .img1 {
        object-fit: scale-down;
        height: 309px;
    }

    .section1 {
        padding: 0px 24px 21px;
        gap: 24px;
    }

    /* SECTION2 */
    .wall {
        height: 195px;
    }

    h2 {
        font-size: 16px;
    }

    .p2 {
        font-size: 14px;
    }

    /* SECTION3 */
    .section3 {
        padding: 24px;
        gap: 24px;
    }

    /* FOOTER */
    footer {
        padding: 50px 30px
    }

    .footersection {
        justify-content: center;
    }
   .logocontainertest {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
   }
}